<div>
    <app-toolbar [inputSideNav]="sideNav"></app-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sideNav mode="side" opened>
            <div class="sidenav">
                <mat-toolbar>SuperAdmin nav</mat-toolbar>

                <mat-list>
                    <a routerLink="/adminusers">
                        <mat-list-item>All users</mat-list-item>
                    </a>
                    <a routerLink="/admingroups">
                        <mat-list-item>All Groups</mat-list-item>
                    </a>
                </mat-list>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>

            <div class="home">

                <mat-form-field>
                    <input matInput type="text" placeholder="Group name" id="search">

                </mat-form-field>

                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Deleting</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let group of groups">
                                <td><span>{{group.name}}</span></td>
                                <td><span>{{group.description}}</span></td>
                                <td><span>
                                <button class="btn btn-sm btn-danger" (click)="deleteGroup(group)">
                                    <i class="fa fa-remove"></i>Delete
                                </button>
                            </span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>