<div>
    <app-toolbar [inputSideNav]="sideNav"></app-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sideNav mode="side" opened>
            <div class="sidenav">
                <mat-toolbar>Navigation</mat-toolbar>

                <mat-list>
                    <a routerLink="/home">
                        <mat-list-item>Home page</mat-list-item>
                    </a>
                    <a routerLink="/group">
                        <mat-list-item>Group</mat-list-item>
                    </a>
                    <a routerLink="/dialogs">
                        <mat-list-item>Dialogs</mat-list-item>
                    </a>
                    <a routerLink="/documents">
                        <mat-list-item>Documents</mat-list-item>
                    </a>

                </mat-list>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>

            <div class="home">
                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th *ngIf="admin==='true'">Deliting</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let student of students">
                                <td><span>{{student.firstName}}</span></td>
                                <td><span>{{student.lastName}}</span></td>
                                <td><span>{{student.username}}</span></td>
                                <td><span>{{student.email}}</span></td>
                                <td *ngIf="admin==='true'"><span>
                                    <button class="btn btn-sm btn-danger" (click)="deleteUser(student)">
                                        <i class="fa fa-remove"></i>Delete
                                    </button>
                                </span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <p *ngIf="admin==='true'">Requests:</p>
                <div class="accepting" *ngIf="admin==='true'">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th *ngIf="admin==='true'">Accepting</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let studentForAccept of studentsForAccept">
                                <td><span>{{studentForAccept.firstName}}</span></td>
                                <td><span>{{studentForAccept.lastName}}</span></td>
                                <td><span>{{studentForAccept.username}}</span></td>
                                <td><span>{{studentForAccept.email}}</span></td>
                                <td *ngIf="admin==='true'"><span>
                                    <button class="btn btn-sm btn-primary" (click)="acceptUser(studentForAccept)">
                                        <i class="fa fa-remove"></i>Accept
                                    </button>
                                    <button class="btn btn-sm btn-primary" (click)="deleteRequest(studentForAccept)">
                                        <i class="fa fa-remove"></i>Decline
                                    </button>
                                </span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>